<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="/stylesheets/font-awesome/font-awesome.css" >
</head>
<body>
	<h1><%= title %><%= id %></h1>
</body>
</html>
